.about-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    scroll-margin-top: 4rem;

    &__title {
        margin: 1rem 0;
        text-align: left;
        font-size: 2.5rem;
        font-weight: 800;
    }

    .about-section-box {
        display: flex;
        align-items: center;
        gap: 2rem;

        .about-text-container {
            flex: 1;
            padding: 1rem;
        }

        .about-image-container {
            flex: 1;
            text-align: center;

            img {
                border-radius: 0.5rem;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                max-width: 100%;
                height: auto;
            }

            p {
                margin-bottom: 0.5rem;
                font-weight: 600;
                text-align: left;
            }

            transition: transform 0.3s ease;
        }

        .left-image-container {
            &:hover {
                transform: rotate(-4deg);
            }
        }

        .right-image-container {
            &:hover {
                transform: rotate(4deg);
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .about-text-container {
                padding: 0.5rem 0;
            }
        }
    }
}
