@use "./colors" as c;

.navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    padding: 0.5rem 4rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;

    &.scrolled {
        background: rgb(99, 107, 105);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    &__logo {
        a {
            img {
                width: 8rem;
                height: auto;
            }
        }
    }

    .navbar__links {
        display: flex;
        list-style: none;
        gap: 2rem;
        width: 100%;
        justify-content: end;

        .active {
            color: grey;
        }

        li a {
            color: #1f2937;
            text-decoration: none;

            &:hover {
                color: c.$basic_hover_color;
            }
        }
    }

    .navbar__toggle {
        display: none;
    }
}
