@use "./colors" as c;

.cta {
    margin-top: 3rem;
    padding: 2rem 1rem 5rem 1rem;
    text-align: center;
    background: c.$color_lt;
    color: #fff;
    border-radius: 12px 12px 0 0;

    &__button {
        margin-top: 2rem;
        padding: 1rem 2.5rem;
        border-radius: 999px;
        background: #fff;
        color: c.$btn_text_color_lt;
        font-weight: bold;
    }
}

.home-cta {
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 999px;
    color: #fff;
    background: c.$color_lt;
    font-weight: bold;
}
