@use "./colors" as c;

.footer {
    padding: 3rem 1rem 1rem 1rem;
    background-color: #fff;
    color: c.$text_color_lt;
    text-align: center;

    hr {
        width: 80%;
    }

    a {
        color: c.$btn_text_color_lt;
        text-decoration: none;
        &:hover {
            border-color: c.$btn_text_color_hover_lt;
            color: c.$btn_text_color_hover_lt;
        }
    }

    &__info {
        margin: 1.5rem 0;
        p {
            margin: 0.5rem 0;
        }
        .social {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            margin: 0;
        }
    }

    &__copyright {
        font-size: 0.85rem;
        color: c.$text_color_lt;
    }
}
