.contact-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.5rem;
    width: 50%;

    input[type="text"],
    input[type="textarea"],
    input[type="email"],
    textarea {
        padding: 1rem 1rem;
        background-color: #fff;
        margin: 0.45rem 0;
        border-radius: 12px;
        border: none;
    }

    button {
        margin: 0 auto;
        width: fit-content;
    }
}
