.slider {
    --swiper-theme-color: #000;
    .hero-slide {
        .slide-image {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        &__overlay {
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

            color: #fff;
            padding: 1rem;

            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.8s ease, transform 0.8s ease;

            h2 {
                font-size: 3rem;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 1.2rem;
                max-width: 600px;
            }
        }
    }

    &.loaded {
        .hero-slide__overlay {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
