@use "./colors" as c;

.page-header {
    background: c.$color_lt;
    width: 100%;
    .page-header-title {
        text-align: left;
        padding: 5rem 2rem;
        color: #fff;
        margin: 0;
    }
    .page-header-subtitle {
        text-align: left;
        line-height: 15px;
    }
}
