@use "./colors" as c;

.scroll-to-top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: c.$color_lt;
    color: #fff;

    box-shadow: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    &.visible {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    &:hover {
        background: c.$btn_text_color_hover_lt;
        border: none;
    }

    svg {
        transform: scale(2.2);
    }
}

.grecaptcha-badge {
    visibility: hidden;
}
