@use "./colors" as c;

.services {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    scroll-margin-top: 5.5rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease, transform 0.8s ease;

        &.loaded {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        margin: 1rem 0 2.5rem 0;
        text-align: left;
        font-size: 2.5rem;
        font-weight: 800;
    }

    /* &__grid {
        p {
        }
    } */
}

.service {
    width: 20rem;
    padding: 0 2rem;
    &__details {
        font-weight: 300;
    }
    &__icon {
        font-size: 5rem;
        color: #fff;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 4rem;
        height: 4rem;

        background-color: c.$color_lt;
        padding: 1rem;
        border-radius: 50%;
    }
}
