$light-bg: #ffffff;
$light-text: #111111;

$dark-bg: #121212;
$dark-text: #ffffff;

.light-theme {
    background-color: $light-bg;
    color: $light-text;
}

.dark-theme {
    background-color: $dark-bg;
    color: $dark-text;
}
.theme__toggle {
    background: none;
    border: none;
    &:hover,
    &:focus,
    &:focus-visible {
        outline: none;
    }
}
